<div ng-include="menuTemplate.url"></div>
<div class="container-fluid">
  <md-content>
    <div class="page-header">
      <h1>{{ 'categories' | translate }}</h1>
    </div>

    <md-tabs md-dynamic-height="" md-border-bottom="">
      <md-tab label="{{'add'|translate}}">
        <div class="container">
          <md-content class="md-padding">
            <form name="categoriesForm">

              <md-input-container class="md-block">
                <label>{{ 'categorie_name' | translate }}</label>
                <input required="" type="text" name="nameCat" ng-model="cat.nameCat" minlength="2" maxlength="50">

                <div ng-messages="categoriesForm.nameCat.$error" role="alert">
                  <div ng-message="required">{{ 'error_required' | translate }}</div>
                  <div ng-message-exp="[ 'minlength', 'maxlength', 'pattern']">
                    {{ 'error_maxlength' | translate }}
                  </div>
                </div>
              </md-input-container>

              <div align='center'>
                <md-button class="md-raised md-primary" ng-click="addCategorie()">{{'add'|translate}}</md-button>
              </div>
            </form>
          </md-content>
        </div>
      </md-tab>
      <md-tab label="{{'edit'|translate}}" ng-click="SearchCategories()">
        <div class="container">

          <br>
          <label>{{ 'category' | translate }}</label>
          <md-select label="{{ 'categorie_name' | translate }}" placeholder="{{ 'categorie_name' | translate }}" data-md-container-class="selectdemoSelectHeader"
            ng-model="selectCategoryEdit" md-on-close="clearSearchTerm()" ng-change="selectEditCategory()">
            <md-select-header class="demo-select-header">
              <input ng-keydown="$event.stopPropagation()" ng-model="searchTerm" placeholder="{{ 'search' | translate }} {{ 'categorie' | translate }}"
                type="search" class="demo-header-searchbox md-text">
            </md-select-header>
            <md-option ng-value="category.id" ng-repeat="category in categories |
              filter:searchTerm ">{{ category.name }}</md-option>
          </md-select>

          <div class="panel panel-default">
            <div class="panel-heading">{{ 'edit' | translate }} {{ 'category' | translate }}</div>
            <div class="panel-body">
              <form name="CategoryForm">
                <md-input-container class="md-block">
                  <input type="text" name="nameCategory" ng-model="CategoryNameEdit" minlength="2" maxlength="50" required="">

                  <div ng-messages="CategoryForm.nameCategory.$error" role="alert">
                    <div ng-message="required">{{ 'error_required' | translate }}</div>
                    <div ng-message="max">
                      {{ 'error_maxlength' | translate }}
                    </div>
                  </div>
                </md-input-container>
                <div align='center'>
                  <md-button class="md-raised md-primary" type="submit" ng-click="editCategory()">{{'edit'|translate}}</md-button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </md-tab>
      <md-tab label="{{'search'|translate}}" ng-click="SearchCategories()">
        <div class="container">

          <br>
          <label>{{ 'categories' | translate }}</label>
          <md-select label="{{ 'categorie_name' | translate }}" placeholder="{{ 'categorie_name' | translate }}" data-md-container-class="selectdemoSelectHeader"
            ng-model="selectedUser" md-on-close="clearSearchTerm()">
            <md-select-header class="demo-select-header">
              <input ng-keydown="$event.stopPropagation()" ng-model="searchTerm" placeholder="{{ 'search' | translate }} {{ 'categories' | translate }}"
                type="search" class="demo-header-searchbox md-text">
            </md-select-header>
              <md-option ng-value="user" ng-repeat="user in categories |
                filter:searchTerm ">{{ user.name }}</md-option>
          </md-select>

        </div>
      </md-tab>
      <md-tab label="{{'remove'|translate}}" ng-click="SearchCategories()">
        <div class="container">
          <br>
          <label>{{ 'categories' | translate }}</label>
          <form name="CategoryForm">
            <md-select label="{{ 'categorie_name' | translate }}" placeholder="{{ 'categorie_name' | translate }}" data-md-container-class="selectdemoSelectHeader"
              ng-model="removeCategory" md-on-close="clearSearchTerm()">
              <md-select-header class="demo-select-header">
                <input ng-keydown="$event.stopPropagation()" ng-model="searchTerm" placeholder="{{ 'search' | translate }} {{ 'category' | translate }}"
                  type="search" class="demo-header-searchbox md-text">
              </md-select-header>
              <md-option ng-value="Category.id" ng-repeat="Category in categories |
              filter:searchTerm ">{{ Category.name }}</md-option>
            </md-select>
            <div align='center'>
              <md-button class="md-raised md-primary" type="submit" ng-click="deleteCategory()">{{'remove'|translate}}</md-button>
            </div>
          </form>
        </div>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
