<div ng-include="menuTemplate.url"></div>
<div class="container-fluid">
  <md-content data-ng-init="init()">
    <div class="page-header">
      <h1>{{ 'courses' | translate }}</h1>
    </div>

    <md-tabs md-dynamic-height="" md-border-bottom="">
      <md-tab label="{{'add'|translate}}">
        <div class="container">
          <md-content class="md-padding">
            <form name="coursesForm">

              <md-input-container class="md-block">
                <label>{{ 'courses_name' | translate }}</label>
                <input required="" type="text" name="namecourse" ng-model="course.name" minlength="2" maxlength="50">

                <div ng-messages="coursesForm.namecourse.$error" role="alert">
                  <div ng-message="required">{{ 'error_required' | translate }}</div>
                  <div ng-message-exp="[ 'minlength', 'maxlength', 'pattern']">
                    {{ 'error_maxlength' | translate }}
                  </div>
                </div>
              </md-input-container>


              <md-input-container class="md-block">
                <label>{{ 'description' | translate }}</label>
                <textarea ng-model="course.description" name="description" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>

                <div ng-messages="coursesForm.namedescription.$error" role="alert">
                  <div ng-message-exp="[ 'minlength', 'maxlength', 'pattern']">
                    {{ 'error_maxlength' | translate }}
                  </div>
                </div>
              </md-input-container>


              <div class="panel panel-default">
                <div class="panel-heading">{{ 'general_data' | translate }}</div>
                <div class="panel-body">


                  <label>{{ 'categories' | translate }}</label>
                  <md-select label="{{ 'categorie_name' | translate }}" data-md-container-class="selectdemoSelectHeader" ng-model="course.category"
                    md-on-close="clearSearchTerm()">
                    <md-select-header class="demo-select-header">
                      <input ng-keydown="$event.stopPropagation()" ng-model="searchTerm" placeholder="{{ 'search' | translate }} {{ 'categories' | translate }}"
                        type="search" class="demo-header-searchbox md-text">
                    </md-select-header>
                    <md-option ng-value="category.id" ng-repeat="category in categories |
              filter:searchTerm track by category.id" ng-selected="{{ category.id ==  course.category}}">
                      {{ category.name }}</md-option>
                  </md-select>


                  <label>{{ 'levels' | translate }}</label>
                  <md-select required="true" label="{{ 'level_name' | translate }}" data-md-container-class="selectdemoSelectHeader" ng-model="course.level"
                    md-on-close="clearSearchTerm()">
                    <md-select-header class="demo-select-header">
                      <input ng-keydown="$event.stopPropagation()" ng-model="searchTerm" placeholder="{{ 'search' | translate }} {{ 'levels' | translate }}"
                        type="search" class="demo-header-searchbox md-text">
                    </md-select-header>
                    <md-option ng-value="level.id" ng-repeat="level in levels |
              filter:searchTerm track by level.id" ng-selected="{{ level.id ==  course.level}}">
                      {{ level.name }} </md-option>
                  </md-select>


                </div>
              </div>

              <!--ng-click="addCourse()"-->
              <div align='center'>
                <md-button type="submit" class="md-raised md-primary" ng-click="addCourse()">{{'add'|translate}}</md-button>
              </div>
            </form>
          </md-content>
        </div>
      </md-tab>
      <md-tab label="{{'edit'|translate}}" ng-click="Searchcourses()">
        <br>
        <div class="container">
          <label>{{ 'course' | translate }}</label>
          <md-select placeholder="{{ 'courses_name' | translate }}" required="true" label="{{ 'courses' | translate }}" data-md-container-class="selectdemoSelectHeader"
            ng-model="course.edit" md-on-close="clearSearchTerm()">
            <md-select-header class="demo-select-header">
              <input ng-keydown="$event.stopPropagation()" ng-model="searchTerm" placeholder="{{ 'search' | translate }} {{ 'courses' | translate }}"
                type="search" class="demo-header-searchbox md-text">
            </md-select-header>
            <md-option ng-value="course.id" ng-repeat="course in courses |
              filter:searchTerm track by course.id">
              {{ course.name }} </md-option>
          </md-select>
        </div>
      </md-tab>
      <md-tab label="{{'search'|translate}}" ng-click="Searchcourses()">
        <br>
        <div class="container">
          <label>{{ 'courses' | translate }}</label>
          <md-select placeholder="{{ 'courses_name' | translate }}" required="true" label="{{ 'courses' | translate }}" data-md-container-class="selectdemoSelectHeader"
            ng-model="course.searchID" md-on-close="clearSearchTerm()">
            <md-select-header class="demo-select-header">
              <input ng-keydown="$event.stopPropagation()" ng-model="searchTerm" placeholder="{{ 'search' | translate }} {{ 'courses' | translate }}"
                type="search" class="demo-header-searchbox md-text">
            </md-select-header>
            <md-option ng-value="course.id" ng-repeat="course in courses |
              filter:searchTerm track by course.id">
              {{ course.name }} </md-option>
          </md-select>

        </div>
      </md-tab>
      <md-tab label="{{'remove'|translate}}">
        <md-content class="md-padding">
          <h1 class="md-display-2">{{'remove'|translate}}</h1>
          <p>remove courses.
          </p>
        </md-content>
</div>
</md-tab>
</md-tabs>
</md-content>
</div>
