<div ng-include="menuTemplate.url"></div>
<div class="headerMain">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="header-content">
          <div class="header-content-inner">
            <h3>{{'msg_welcome' |translate}}</h3>
          </div>
        </div>
        <h1 style="padding-bottom: 50%;">NAME</h1>
      </div>
      <div class="col-sm-5">

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="header-content-inner" align="center">
        <h5>{{'remember_welcome' |translate}}</h5>
      </div>
    </div>
  </div>
</div>
